{% extends 'base.html' %}
{% block pagetitle %}
About Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞About Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">

    <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
        <center>
            <h3>Group 09</h3>
            <p class="lead" style="font-weight: 350;">
                "Welcome to our About Us page! We are passionate about agricultural innovation and sustainability. Our
                team has developed an advanced tomato leaf disease detection system, revolutionizing farming practices
                for a healthier and more productive crop yield. Explore our journey of innovation and dedication to
                making a positive impact in the agricultural industry."
            </p>

            <div>
                <h3>Team Members :</h3><br>

                <h6>Amey Vanire</h6>
                <h6>Kshitija Patil</h6>
                <h6>Namrata Phadke</h6>
                <h6>Harshda Patil</h6>
                <h6>Aarya Mahajan</h6>

            </div>
        </center>
    </div>

</div>

{% endblock body %}